/* Product Icons */
.product__product-icons .media{
    background-color: transparent;
    border: 0;
}

/* Color Swatches */
.product-form__input-color{
    --border-radius: 50%;
}

.product-form__input-color input[type=radio]+label,
.product-form__input-color input[type=radio]+label .swatch{
    border-radius: var(--border-radius);
}

.product-form__input-color input[type=radio]+label {
    padding: 1.2rem;
    border: var(--variant-pills-border-width) solid rgba(0, 0, 0, 0.2);
    transition: all 0.35s ease-in-out;
}

@media screen and (min-width: 750px){
  .product-form__input-color input[type=radio]+label {
    padding: 1.5rem;
  }
}

.product-form__input-color input[type=radio]:checked+label{
    border: calc(var(--variant-pills-border-width) + 0.5px) solid rgba(0, 0, 0, 1);
    background-color: transparent;
}

.product-form__input-color input[type=radio]+label .swatch{
    position: absolute;
    left: 2px;
    top: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 50%;
}

.product-form__input input[type=radio].disabled+label{
    pointer-events: none;
}

.product-form__input-color input[type=radio].disabled+label:after{
    content: "";
    position: absolute;
    left: 50%;
    top: 0px;
    width: 1px;
    height: calc(100% - 0px);
    background-color: rgba(0, 0, 0, 0.6);
    transform: rotate(45deg);
    transition: all 0.35s ease-in-out;
}

.product-form__input-color input[type=radio].disabled:checked+label:after{
    background-color: rgba(0, 0, 0, 1);
}

/* Variants Buttons */
.product-form__input:not(.product-form__input-color) input[type=radio]+label{
  background: var(--pill_bg);
  color: var(--pill_text);
}

.product-form__input:not(.product-form__input-color) input[type=radio]:checked+label{
  background: var(--pill_active_bg);
  color: var(--pill_active_text);
  border: var(--variant-pills-border-width) solid var(--pill_active_bg);
}

.product-form__input:not(.product-form__input-color) .form__label{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Size Chart */

.product__size-chart-opener{
  display: flex;
  align-items: center;
  font-size: 12px;
  border: 1px solid;
  border-radius: 20px;
  padding: 5px 10px;
}

.product__size-chart-opener span:first-child{
  .product__size-chart-opener{
    margin-right: 8px;
  }
}

@media screen and (min-width: 750px){
  .product__size-chart-opener{
    font-size: 20px;
  }
}

.size-chart-modal .product-popup-modal__content{
  padding: 0 3rem 3rem 3rem;
}

/* Buy Buttons */

.product .product-form__submit{
  background: var(--atc-bg-color);
  color: var(--atc-text-color);
  transition: all 0.35s ease-in-out;
}

.product .product-form__submit:hover{
  background: var(--atc-text-color);
  color: var(--atc-bg-color);
  -webkit-box-shadow: 0px 0px 0px 2px var(--atc-bg-color);
  -moz-box-shadow: 0px 0px 0px 2px var(--atc-bg-color);
  box-shadow: 0px 0px 0px 2px var(--atc-bg-color);
}

.product .shopify-payment-button__button{
  background: var(--checkout-bg-color);
  color: var(--checkout-text-color);
  transition: all 0.35s ease-in-out;
}

.product .shopify-payment-button__button:hover {
  background: var(--checkout-text-color);
  color: var(--checkout-bg-color);
  -webkit-box-shadow: 0px 0px 0px 2px var(--checkout-bg-color);
  -moz-box-shadow: 0px 0px 0px 2px var(--checkout-bg-color);
  box-shadow: 0px 0px 0px 2px var(--checkout-bg-color);
}

.product .product-form__submit::before,
.product .product-form__submit::after,
.product .shopify-payment-button__button::before,
.product .shopify-payment-button__button::after{
  content: none;
}